.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.checked{
    color:orange;
  }

  @media(min-width: 1024px){
  .lg\:hidden-important {
    display: none !important;
}
  }

pre {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.tabs{
  color: white!important;
}