---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Rating from "../components/cv/Rating.astro";
---

<BaseLayout>
<section class="flex items-center h-full dark:text-gray-100">
	<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
		<div class="max-w-md text-center">
			<image class="secret-img" src="/SecretPage.png" style="margin-bottom: 20px !important;"></image>
			<p class="text-2xl font-semibold md:text-3xl">Looks like you found a secret page.</p>
			<p class="mt-4 mb-8 dark:text-gray-400">You might wanna head back now.</p>
			<a rel="noopener noreferrer" href="/" class="animated-fill button_coder">Back to homepage</a>
		</div>
	</div>
</section>
</BaseLayout>  