---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Rating from "../components/cv/Rating.astro";
---

<BaseLayout>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Cybersecurity engineer with 3 years of experience in software development as well as training in cybersecurity through 
    Security+ and on-the-job training. Experienced with security product assessments, machine learning, genetic algorithms, and full
    stack web development. Also experienced with in-depth research through advanced study during my Master's Thesis.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's in Computer Science"
      subtitle="2021 to 2022 at the University of Central Florida, Orlando, Florida"
    />
    <TimeLineElement
      title="Bachelor's in Computer Science"
      subtitle="2017 to 2021 at the University of Central Florida, Orlando, Florida"
    />
    <TimeLineElement
      title="Minor in Business Administration"
      subtitle="2017 to 2021 at the University of Central Florida, Orlando, Florida"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Cybersecurity Engineering Associate at Lockheed Martin"
      subtitle="From 2022 at Lockheed Martin, Orlando, Florida"
      desc="Executed product assessments for outside COTS and FOSS software to be used accross the company and assisted in identifying and mitigating related risks according to CIS security policy."
    />
    <TimeLineElement
      title="CWEP at Lockheed Martin"
      subtitle="From 2019 to 2022 at Lockheed Martin MFC, Orlando, Florida"
      desc={`Designed and implemented improvements to the department website, developed macros for financial and personnel data sheets, and spearheaded web apps for teams across the company including: a web application to assist in contract planning using Blazor and Kubernetes, and a machine learning/data dashboard to assist with manufacturing tolerance analysis using Streamlit and Sci-Kit Learn`}
    />
    <TimeLineElement
      title="Summer Intern at Florida Blue"
      subtitle="From 2017 to 2017 at Florida Blue, Jacksonville, Florida"
      desc="Served on the IT Support Desk and collaborated with internal employees to solve IT related issues such as password failures, website/browser malfunctions, and computer upkeep. "
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="" target="_blank"> Comptia Security+ (In progress)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Winner of the Spring 2021 UCF Senior Design Showcase in Computer Science for my <a class="link link-primary" href="https://github.com/jlehett/everglades-ai-wargame" target="_blank">Everglades Reinforcement Learning</a> project.
    </li>
    <li>
      Cum Laude Honors in the Major for Computer Science (GPA: 3.814).
    </li>
    <li>
      Accepted to the UCF CECS accelerated BS to MS program.
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li>C# <Rating rating={5}></Rating></li>
    <li>Python <Rating rating={5}></Rating></li>
    <li>VS Code <Rating rating={4}></Rating></li>
    <li>Visual Studio <Rating rating={4}></Rating></li>
    <li>Atom <Rating rating={4}></Rating></li>
    <li>PyTorch <Rating rating={4}></Rating></li>
    <li>SciKit Learn <Rating rating={4}></Rating></li>
    <li>.NET <Rating rating={4}></Rating></li>
    <li>Tensorflow <Rating rating={3}></Rating></li>
    <li>OpenCV <Rating rating={3}></Rating></li>
    <li>SQL <Rating rating={3}></Rating></li>
    <li>Streamlit <Rating rating={3}></Rating></li>
    <li>Openshift <Rating rating={2}></Rating></li>
    <li>React <Rating rating={2}></Rating></li>
    <li>Astro <Rating rating={2}></Rating></li>
    <li>Kubernetes <Rating rating={2}></Rating></li>
  </ul>
</BaseLayout>
