---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Rating from "../components/cv/Rating.astro";
---

<BaseLayout>
<article class="max-w-[900px]">
  <div class="mb-10">
    <div class="text-3xl font-bold mb-5 page-header">cv</div>
    <div class="text-xl mb-5 page-subheader">Curriculum Vitae</div>
  </div>

  <div class="mb-5 section-header-wrapper">
    <div class="text-3xl font-bold section-header">profile</div>
  </div>

  <div class="mb-10 flex text-justify space-x-1" style="align-items: center; gap:5%">
    <div>
      <div class="mb-5">
      <p class=" text-lg" style="display:inline">
        Cybersecurity engineer with </p><p class="quote-color-text text-lg">3 years of experience</p> in software development as well as training in cybersecurity through 
        <p class="quote-color-text text-lg">Security+</p> <p class=" text-lg" style="display:inline">and on-the-job training. Experienced with security product assessments, machine learning, genetic algorithms, and full
        stack web development. Also experienced with in-depth research through advanced study during my Master's Thesis.
        </p>
    </div>
    <div class="mb-5">
      <p class="text-lg" style="display:inline">
        Recently been learning about the Cloud, specifically AWS and Azure and am working towards attaining several cloud certifications. 
        Also have a </p><p class="quote-color-text text-lg">background in business</p> <p class=" text-lg" style="display:inline">and business administration providing increased knowledge and communications skills with 
        other non-technical professionals.
      </p>
    </div>
    </div>
  </div>

  <div class="mb-5 section-header-wrapper">
    <div class="text-3xl font-bold section-header">education</div>
  </div>

  <div class="flex">
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's in Computer Science"
      subtitle="2021 to 2022 at the University of Central Florida, Orlando, Florida"
    />
    <TimeLineElement
      title="Bachelor's in Computer Science"
      subtitle="2017 to 2021 at the University of Central Florida, Orlando, Florida"
    />
    <TimeLineElement
      title="Minor in Business Administration"
      subtitle="2017 to 2021 at the University of Central Florida, Orlando, Florida"
    />
  </div>
  </div> 

  <div class="mb-5 section-header-wrapper">
    <div class="text-3xl section-header font-bold">experience</div>
  </div>

  <div class="flex">
    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Cybersecurity Engineering Associate at Lockheed Martin"
        subtitle="From 2022 at Lockheed Martin, Orlando, Florida"
        desc="Executed product assessments for outside COTS and FOSS software to be used accross the company and assisted in identifying and mitigating related risks according to CIS security policy."
      />
      <TimeLineElement
        title="CWEP at Lockheed Martin"
        subtitle="From 2019 to 2022 at Lockheed Martin MFC, Orlando, Florida"
        desc={`Designed and implemented improvements to the department website, developed macros for financial and personnel data sheets, and spearheaded web apps for teams across the company including: a web application to assist in contract planning using Blazor and Kubernetes, and a machine learning/data dashboard to assist with manufacturing tolerance analysis using Streamlit and Sci-Kit Learn`}
      />
      <TimeLineElement
        title="Summer Intern at Florida Blue"
        subtitle="From 2017 to 2017 at Florida Blue, Jacksonville, Florida"
        desc="Served on the IT Support Desk and collaborated with internal employees to solve IT related issues such as password failures, website/browser malfunctions, and computer upkeep. "
      />
    </div>
  </div>

  <div class="mb-5 section-header-wrapper">
    <div class="text-3xl section-header font-bold">publications</div>
  </div>

  <div class="mb-10">
    <p class="hanging-indent publication">J. Gracie, “Leveraging human-centered insights and vision transformers to understand and detect online risks in teens' private social media conversations on Instagram,” STARS. [Online]. Available: https://stars.library.ucf.edu/etd2020/1015/. [Accessed: 03-Nov-2022]. </p>
    <p class="hanging-indent publication">Ali, Shiza, et al. “Understanding the Digital Lives of Youth: Analyzing Media Shared within Safe versus Unsafe Private Conversations on Instagram.” CHI Conference on Human Factors in Computing Systems, 2022, https://doi.org/10.1145/3491102.3501969. </p>
  </div>

  <div class="mb-5 section-header-wrapper">
    <div class="text-3xl section-header font-bold">certificates</div>
  </div>

  <div class="cert-grid mb-10" style="gap:3%">
    <div class="card cert transition ease-in-out hover:scale-[102%]">
      <a href="/CompTIA Security+ ce certificate.pdf" target="_blank">
        <img src="/SecPlus.png" width="200" alt="Comptia Security+"></img>
      </a>
    </div>
    <div class="card cert transition ease-in-out hover:scale-[102%]">
      <img src="/az900.png" width="200" alt="Azure AZ-900"></img>
      <div class="card-overlay">In Progress</div>
    </div>
    <div class="card cert transition ease-in-out hover:scale-[102%]">
      <img src="/greenbelt_logo.png" width="200" alt="Lean Six Sigma Green Belt"></img>
      <div class="card-overlay">In Progress</div>
    </div>
    <div class="card cert transition ease-in-out hover:scale-[102%]">
      <a href="/PartnerAccreditation_AWS Course Completion Certificate.pdf" target="_blank">
        <img src="/TechnicalAccreditation.png" width="200" alt="AWS Partner Technical Accreditation"></img>
      </a>
    </div>
    <div class="card cert transition ease-in-out hover:scale-[102%]">
      <a href="/CloudEconomics_AWS Course Completion Certificate.pdf" target="_blank">
        <img src="/CloudEconomics.png" width="200" alt="AWS Partner Cloud Economics Accreditation"></img>
      </a>
    </div>
  </div>

  <div class="mb-5 section-header-wrapper">
    <div class="text-3xl section-header font-bold">awards</div>
  </div>

  <ul class="award-list mx-6 mb-10">
    <li class="award-box">
      Winner of the Spring 2021 UCF Senior Design Showcase in Computer Science for my <a class="link color-main" href="https://github.com/jlehett/everglades-ai-wargame" target="_blank">Everglades Reinforcement Learning</a> project.
    </li>
    <li class="award-box">
      Cum Laude Honors in the Major for Computer Science (GPA: 3.814).
    </li>
    <li class="award-box">
      Accepted to the UCF CECS accelerated BS to MS program.
    </li>
  </ul>

  <div class="mb-5 section-header-wrapper">
    <div class="text-3xl section-header font-bold">skills</div>
  </div>

  <div class="simple-grid" style="gap:3%; margin-bottom: 15px;">
    <div class="skill-block">
      <div class="skill-block-title">Languages</div>
      <ul class="skill-block-list list-disc md:columns-3 columns-2 mx-6">
        <li>C# <Rating rating={5}></Rating></li>
        <li>Python <Rating rating={5}></Rating></li>
        <li>Javascript <Rating rating={4}></Rating></li>
        <li>Java <Rating rating={3}></Rating></li>
        <li>C <Rating rating={3}></Rating></li>
      </ul>
    </div>
    <div class="skill-block">
      <div class="skill-block-title">Tools</div>
      <ul class="skill-block-list list-disc md:columns-3 columns-2 mx-6">
        <li>VS Code <Rating rating={4}></Rating></li>
        <li>Visual Studio <Rating rating={4}></Rating></li>
        <li>Atom <Rating rating={4}></Rating></li>
        <li>PyTorch <Rating rating={4}></Rating></li>
        <li>SciKit Learn <Rating rating={4}></Rating></li>
        <li>Tensorflow <Rating rating={3}></Rating></li>
        <li>OpenCV <Rating rating={3}></Rating></li>
      </ul>
    </div>
    <div class="skill-block">
      <div class="skill-block-title">Frameworks</div>
      <ul class="skill-block-list list-disc md:columns-3 columns-2 mx-6">
        <li>.NET <Rating rating={4}></Rating></li>
        <li>Streamlit <Rating rating={3}></Rating></li>
        <li>React <Rating rating={2}></Rating></li>
        <li>Astro <Rating rating={2}></Rating></li>
      </ul>
    </div>
    <div class="skill-block">
      <div class="skill-block-title">Other</div>
      <ul class="skill-block-list list-disc md:columns-3 columns-2 mx-6">
        <li>SQL <Rating rating={3}></Rating></li>
        <li>Openshift <Rating rating={2}></Rating></li>
        <li>Kubernetes <Rating rating={2}></Rating></li>
        <li>Azure <Rating rating={2}></Rating></li>
        <li>Firebase <Rating rating={2}></Rating></li>
      </ul>
    </div>
  </div>
</article>
</BaseLayout>
