---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout>
  <div class="mb-10">
    <div class="text-3xl font-bold mb-5 page-header">projects</div>
    <div class="text-xl mb-5 page-subheader">List of all of my projects</div>
  </div>

  <div class="section-header-wrapper mt-10">
    <div class="text-3xl font-bold mb-2 section-header">recent</div>
  </div>
  <div class="projects-grid">
  <HorizontalCard
    title="New Flame"
    img="/NewFlame.png"
    desc="Created a blogging app using Next.js and Firebase based on the tutorial by Fireship.io. Added in a custom markdown editor to simplify article editing for the user with a similar design to DEV.To"
    url="https://github.com/jgracie52/NextFire"
    badge="Web App"
    date="September 19th 2022"
  />
    <HorizontalCard
    title="Realtime Face Detection/Recognition"
    img="/FaceRecognizer.gif"
    desc="Built a real-time face detection/recognition command line program using OpenCV. Also implemented a near real-time canny edge detector using the same system"
    url="https://github.com/jgracie52/Real-Time-Face-Recognition-and-Edge-Detection"
    badge="Computer Vision"
    date="December 5th 2021"
  />
</div>

  <div class="section-header-wrapper mt-10">
    <div class="text-3xl font-bold mb-2 section-header">other</div>
  </div>
  <div class="projects-grid">
  <HorizontalCard
      title="Canny Edge Detector"
      img="/EdgeDetector.jpg"
      desc='Created a custom Canny Edge Detector that, given an input image, a value for sigma, and values for high and low thresholds, outputs the edges of the image.'
      url="https://github.com/jgracie52/PersonalProjects/tree/main/Canny%20Edge%20Detector"
      badge="Computer Vision"
      date="October 21st 2021"
    />
  <HorizontalCard
      title="Everglades AI Battle Bots"
      img="/Everglades.gif"
      desc='Created and experimented with several Reinforcement Learning Agents including DQN, A3C, and PPO to play in Lockheed Martin’s OpenAI Gym environment: “Everglades”'
      url="https://github.com/jlehett/everglades-ai-wargame"
      badge="Reinforcement Learning"
      date="April 23rd 2021"
    />
  <HorizontalCard
    title="Conway's Game of Life"
    img="/conway.png"
    desc="Created a replica of Conway's Game of Life cellular automata using Java."
    url="https://github.com/jgracie52/PersonalProjects/tree/main/Conway's%20Game%20Of%20Life"
    badge="Cellular Automata"
    date="March 28th 2021"
  />
  <HorizontalCard
    title="Cache Simulator"
    img="/cache.webp"
    desc="Built a cache simulator to simulate the operations of a simply CPU cache using Java."
    url="https://github.com/jgracie52/PersonalProjects/tree/main/Cache%20Simulator"
    badge="Computer Architecture"
    date="March 28th 2021"
  />
  </div>
</BaseLayout>
