---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Joshua Gracie
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    Thanks for stopping by! Don't forget to check out my
    <a href="https://www.linkedin.com/in/joshua-gracie/" target="_blank" class="font-bold">LinkedIn 💼</a>
  </div>
</footer>
<style>

</style>
