@import url('https://fonts.cdnfonts.com/css/google-sans');
@import url('https://fonts.cdnfonts.com/css/agustina');

html{
  scroll-behavior: smooth;
  background-color: #222 !important;
}

body {
  font: 100% Montserrat, sans-serif;
  line-height: 1.8;
  color: white;
  background-color: #222;
}

h3{
  font-weight: bold;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}

code{
  text-align: left;
}

.btn{
  background-color: #149a80;
  border: solid 1px #149a80;
  color: white !important;
  font-weight: 500;
  line-height: 1.1;
  width: max-content;
  padding: 13px 22px;
  margin-right: 0px;
  /* text-transform: uppercase; */
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-family: 'Product Sans Medium', sans-serif;
  display: block;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all ease-in-out 500ms;
}

.slides{
  display:none;
  background-color: #149a80;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding:20px;
}

.nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

.btn:hover{
  background-color: #222;
  color:#149a80 !important;
}

.icon{
  width: 20%;
}

ul{
  font-family: 'Product Sans Black', sans-serif;
  font-size: 20pt;
}

li{
  font-size: 20px !important;
}

.icon-li{
  color: yellow;
}

.image-icon{
  padding: 5px;
}

.js-scroll{
  display: none;
}

.js-scroll.scrolled{
  display: flex;
}

.js-scroll.scrolled.gh-link{
  display: block;
}

.slick-dots li button:before{
  color:#149a80 !important;
  font-size: 10px !important;
}

.slick-dots li.slick-active button:before{
  color:#149a80 !important;
  opacity: 1 !important;
}

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #1abc9c; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 20px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#backToTopBtn:hover {
  background-color: #149a80; /* Add a dark-grey background on hover */
}

strong{
  color: #1abc9c;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.content-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media  (max-width : 600px)  {
  .content-container {
    grid-template-columns: 1fr;
    }
  }

.content-left{
  grid-column-start: 1;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin-left: 25px;
}

.undraw{
  width: 100%;
  height:auto;
}

.greeting{
  margin-top: 80px;
  font-size: 4.5em;
  line-height: 1.1;
  font-family: 'Product Sans Black', sans-serif;
  color:white;
}

.greeting-small{
  font-size: 2.5em !important;
}

.greeting-text-p{
  font-size: 1.7em;
  line-height: 40px;
  margin-right: 40px;
  font-family: 'Product Sans Medium', sans-serif;
  color: rgb(127, 141, 170);
}

.greeting-text-p-small{
  font-size: 1.5em !important;
}

.right-li{
  float: right;
}

.greeting-nickname{
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.content-right{
  margin-right: 25px;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

.navbar {
  padding-top: 35px;
  padding-bottom: 25px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  background-color:#08f6feb7 !important;
  -moz-box-shadow:    inset 0 0 15px #08F7FE;
   -webkit-box-shadow: inset 0 0 15px #08F7FE;
   box-shadow:         inset 0 0 15px #08F7FE;
   color: white !important;
}

.navbar-brand:hover{
  color:#1abc9c !important;
}
.navbar{
  background-color: #222;
}

.navbar-default .navbar-brand{
  color: white;
  font-family:'Agustina', sans-serif;
  font-weight:bold;
  font-size: 30pt;
  transition: all 500ms ease-in-out
}
.navbar-default .navbar-nav>li>a{
  color: white;
  font-size: 15px !important;
  margin-left: 5px;
  border-radius: 5%;
  margin-right: 5px;
  padding: 15px;
  transition: all 500ms ease-in-out;
}
/*LinkedIn Styles*/
.LI-badge-container.horizontal.dark .LI-footer{
  padding-right: 60px;
}

.LI-profile-badge{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-badge{
  margin:auto;
}

/* Image Overlay */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  display:inline-block;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  border-radius:50%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card.hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #1abc9c;
  color: white;
  transform: rotateY(180deg);
}

.achievement-block{
  background-color: #222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #333;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #333;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1abc9c;
}

.fa {
  padding: 15px;
  font-size: 20px !important;
  text-align: center;
  text-decoration: none !important;
  margin: 5px 2px;
  border-radius: 25%;
  transition:all ease-in-out 500ms;
}

.fa:hover {
    background-color: #149a80;
}

.fa-normal{
  display: inline !important;
  background: none !important;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white !important;
}

.fa-github {
  background: black;
  color: white !important;
}

@media only screen and (max-width: 600px){
  .achievement-block{
    flex-direction: column;
  }
}
