html{
  scroll-behavior: smooth;
}

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

h3{
  font-weight: bold;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
  background-color: #222; /* Black */
  color: #ffffff;
}
.bg-2 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #222; /* Black */
  color: #fff;
}

code{
  text-align: left;
}

c{
  color: white;
  font-weight: 700;
}

floyd{
  color: hotpink;
  font-weight: 700;
}

.btn{
  background-color: #1abc9c;
  color: white !important;
  padding: 20px;
  font-size: 20px;
}

.slides{
  display:none;
  background-color: #149a80;
  box-shadow: 5px 3px 10px darkgrey;
  padding:20px;
}

.btn:hover{
  background-color: #149a80;
}

.btn-hovered{
  background-color: #149a80;
}

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #1abc9c; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 3px 5px 5px darkgrey;
}

#backToTopBtn:hover {
  background-color: #149a80; /* Add a dark-grey background on hover */
}

strong{
  color: #1abc9c;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

/*LinkedIn Styles*/
.LI-badge-container.horizontal.dark .LI-footer{
  padding-right: 60px;
}

.LI-profile-badge{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-badge{
  margin:auto;
}
